@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Montserrat', sans-serif;
        scroll-behavior: smooth;
    }

    body {
        background-image: url("./../images/title.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom center;
        height: 98vh;
        width: 100%;
        @apply bg-pageBg;
    }

    h1 {
        @apply text-main font-bold text-4xl;
    }

    h2 {
        @apply text-2xl;
    }
}

@layer components {
    .page {
        @apply max-w-[90%] w-[90%] mx-auto pt-10 pb-5;
    }

    .title-box {
        @apply flex flex-col justify-center w-max mx-auto items-center space-y-2;
    }
}