@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Montserrat', sans-serif;
        scroll-behavior: smooth;
    }

    body {
        background-image: url("./../images/title.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom center;
        height: 97vh;
        width: 100%;
        @apply bg-pageBg;
    }

    h1 {
        @apply text-main font-bold text-4xl;
    }

    h2 {
        @apply text-2xl;
    }
}

@layer components {
    .page {
        @apply max-w-[90%] w-[90%] mx-auto pt-10 pb-5;
    }

    .title-box {
        @apply flex flex-col justify-center w-max mx-auto items-center space-y-2 mt-10;
    }

    .title-text {
        @apply text-main font-bold text-5xl tracking-wider;
    }

    .title-subtext {
        @apply text-3xl tracking-wider;
    }

    .main-button,
    .more-button {
        transition: all ease-in 100ms;
    }

    .main-button {
        @apply rounded-md bg-main text-white hover:bg-mainDark px-6 py-2 flex flex-row justify-center space-x-2 items-stretch self-center;
    }

    .dropdown-item {
        @apply px-4 py-[0.65rem] cursor-pointer border-b border-slate-200 transition-all hover:bg-slate-200 last:border-b-0 border-l-4 border-l-transparent hover:border-l-blue-700;
    }

    .size-changing-bg {
        background-image: url("./../images/title.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom center;
        height: 97vh;
        width: 100%;
        @apply bg-pageBg;
    }

    .size-changing-bg-scaled {
        background-image: url("./../images/title.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
        height: 97vh;
        width: 100%;
        @apply bg-pageBg;
        transition: all ease-in 100ms;
    }

    .scrollbar-hide {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

        .scrollbar-hide::-webkit-scrollbar {
            display: none;
        }
}