@page "/"

<PageTitle>Livity - find your living</PageTitle>

<form @onsubmit="SubmitForm">
    <label for="inputField">Enter street:</label>
    <input type="text" id="inputField" @bind-value="@inputValue" />

    <button type="button">Submit</button>
</form>

@if (submitted && !showResult)
{
    <div>
        <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-black" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor"
                d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
            </path>
        </svg>
        Checking for <span
            class='font-bold'>@spinnerText</span>...
    </div>
}
else if (showResult)
{
    <div>
        Results for @inputValue
    </div>
}

@code {
    private string[] spinnerTexts = {
        "houses", "hospitals", "parks", "museums", "kindergardens", "bars", "gardens", "parking spots", "public transport"
    };
    private string? spinnerText = "goverment offices";

    private string? inputValue;

    private bool showResult;
    private bool submitted;

    private async Task SubmitForm()
    {
        submitted = true;

        while (submitted && !showResult)
        {
            await Task.Delay(3000);

            spinnerText = spinnerTexts[(Array.IndexOf(spinnerTexts, spinnerText) + 1) % spinnerTexts.Length];
            StateHasChanged();
        }
    }
}