@page "/"

<PageTitle>Livity - find your living</PageTitle>

<form @onsubmit="SubmitForm">
    <label for="inputField">Enter street:</label>
    <input type="text" id="inputField" @bind-value="@inputValue" />

    <button type="button">Submit</button>
</form>

@if (submitted && !showResult)
{
    <div>
        <div class="spinner"></div>
        Checking for <span>@spinnerText</span>...
    </div>
}
else if (showResult)
{
    <div>
        Results for @inputValue
    </div>
}

@code {
    private string? spinnerText;
    private string[] spinnerTexts = { 
        "hospitals", "parks", "museums", "kindergardens", "bars", "gardens", "parking spots", "public transport"
    };

    private string? inputValue;

    private bool showResult;
    private bool submitted;

    private async Task SubmitForm()
    {
        submitted = true;
        StateHasChanged();

        int currentTextIndex = 0;
        while (!showResult)
        {
            spinnerText = spinnerTexts[currentTextIndex];
            currentTextIndex = (currentTextIndex + 1) % spinnerTexts.Length;

            StateHasChanged();
            await Task.Delay(4000);
        }
        
        showResult = true;
    }
}