@page "/"

<PageTitle>Index</PageTitle>

<form @onsubmit="SubmitForm">
    <label for="inputField">Enter street:</label>
    <input type="text" id="inputField" @bind-value="@inputValue" />

    <button type="button">Submit</button>
</form>

@if (showResult)
{
    <div>
        Showing score for @inputValue
    </div>
}

@code {
    private string? inputValue;
    private bool showResult;

    private async void SubmitForm()
    {
        // TODO
        showResult = true;
    }
}