@page "/kids"

<div class="title-box">
    <div class="title-subtext">
        Something at
    </div>
    <div class="relative title-text w-max">
        <h1>
            @Building.Street @Building.OrientationNumber, @Building.District
        </h1>
    </div>
</div>

<EditForm>
    <div class="flex flex-col justify-center text-center mt-20">
        <p class="text-main font-semibold text-3xl">2.</p>
        <p class="text-2xl font-semibold">What about kids?</p>
        <div class="my-5 max-w-3xl mx-auto grid grid-cols-4 gap-2 gap-x-6">

        </div>
        <button type="submit" class="main-button flex items-center gap-2 mt-3 px-20 shadow-sm py-2 uppercase text-sm">
            Next
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none">
                <path d="M16 18H18V6H16M6 18L14.5 12L6 6V18Z" fill="currentColor" />
            </svg>
        </button>
    </div>
</EditForm>

@code {
    [Parameter]
    public Building Building { get; set; } = null!;

    [CascadingParameter(Name = Constants.CascadingParameters.MainLayout)]
    private MainLayout _mainLayout { get; set; } = default!;

    private UserDTO _userDto = new();
}
