@inherits LayoutComponentBase

<PageTitle>Livity</PageTitle>

<div class="page">
    <div class="title-box">
        <div class="title-subtext">
            Find a
        </div>
        <div class="title-text">
            PERFECT PLACE
        </div>
    </div>
</div>

<Footer />
