<div class="w-32 flex flex-col border-t-4 border-subTextLight bg-white rounded-[3px] mt-16 pb-4">
    <img src="./../icons/confetti.svg" alt="chat icon" class="self-center -mt-14 w-2/3">
    <h2 class="text-center font-light">Score</h2>
    <h2 class="text-green-600 mt-2 text-center font-semibold tracking-widest">9/10</h2>
</div>