<div class="w-36 flex flex-col border-t-4 border-subTextLight bg-white rounded-[3px] mt-10 pb-4">
    <img src="/icons/confetti.svg" alt="chat icon" class="animate-in zoom-in self-center -mt-10 w-1/2">
    <h2 class="text-center font-light">Score</h2>
    <h2 class="@GetColorScore() text-center font-semibold tracking-widest">@ScoreValue/100</h2>
</div>


@code {
    [Parameter]
    public double ScoreValue { get; set; }
  
    private string GetColorScore() {
        if (ScoreValue > 66)
            return "text-green-600";
        if (ScoreValue > 33)
            return "text-yellow-500";
        return "text-red-600";
    }
}